@import "src/styles/mixins";

.parcel_{
  &header {
    display: flex;
    justify-content: space-between;

    &-button-wrapper {
      display: flex;
      align-items: center;
    }

    &-button {
      @include secondaryButton;

      &-svg {
        width: 20px;
        height: 20px;
        padding-right: 5px;
      }
    }

    &-logo {
      .parcel_logo {
        border-radius: 20px;
        height: 80px;
        width: 80px;
      }
    }
  }
}