@import "src/styles/mixins";
@import "src/styles/variables";

.parcel_ {
  &order-item {
    @include cardText;
    display: flex;

    > p {
      margin: 0;
    }

    &--features {
      > li {
        padding-bottom: 2px;
      }
    }

    &--image {
      width: 65px;
      height: auto;
      margin-right: 15px;
      @include cardImage;
    }

    &--articleName,
    &--price,
    &--quantity,
    &--articleNo {
      margin: 0;
    }

    &--articleName,
    &--price {
      font-weight: $weightBolder;
    }
  }
}